    {% extends "AirBlogBundle::base.html.twig" %}

    {% block pageTitle %}O autorze{% endblock %}

    {% block contentTitle %}O autorze{% endblock %}

    {% block content %}
        <div class="left-side">
            <p>
Heu, amicitia!Nobilis, grandis buxums satis demitto de mirabilis, velox lapsus.Superbus compater foris magicaes fluctus est.
            </p>
            <p>
                Heu, amicitia!Nobilis, grandis buxums satis demitto de mirabilis, velox lapsus.Superbus compater foris magicaes fluctus est.
            </p>
            <p>
                Heu, amicitia!Nobilis, grandis buxums satis demitto de mirabilis, velox lapsus.Superbus compater foris magicaes fluctus est.
            </p>
            <p>
                Heu, amicitia!Nobilis, grandis buxums satis demitto de mirabilis, velox lapsus.Superbus compater foris magicaes fluctus est.
            </p>
            <p>
                Heu, amicitia!Nobilis, grandis buxums satis demitto de mirabilis, velox lapsus.Superbus compater foris magicaes fluctus est.
            </p>
        </div> <!-- .left-side -->
    {% endblock %}