    {% extends "AirBlogBundle::base.html.twig" %}

    {% block pageTitle %}{{ post.title }}{% endblock %}

    {% block contentTitle %}{{ post.title }}{% endblock %}

    {% block content %}
        <div class="left-side">

            <article class="post">
                <header>
                    <h1>{{ post.title }}</h1>

                    <div class="meta-data">
                        <div class="author">Autor <a href="#">{{ post.author }}</a></div>
                        <div class="create-date">Dodano {{ post.publishedDate|date('d.m.Y, H:m') }}</div>
                    </div>
                </header>

                <div class="thumbnail">
                    <div class="meta-data">
                        <div class="categories">
                            Kategoria:
                            <a href="{{ path('blog_category',{'slug': post.category.slug}) }}">{{ post.category.name }}</a>
                        </div>

                        <div class="tags">
                            Tagi:
                            {% for tag in post.tags %}
                                <a href="{{ path('blog_tag',{'slug': tag.name}) }}">{{ tag.name }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <img src="img/default-thumbnail.jpg" alt="">
                </div>
           {{ post.content|raw }}
            </article>

            <div class="notification block">
                Aby dodać komentarz <strong>musisz się <a href="#">zalogować lub zarejestrować</a></strong>
            </div>

            <section class="post-comments">
                <header>
                    <h3>Komentarze (12)</h3>
                </header>

                <div class="comment">
                    <img class="thumbnail" src="img/default-avatar.jpg" alt="">

                    <div class="body">
                        <div class="author">Jonno Riekwel</div>
                        <div class="create-date">17/19/2013</div>

                        <div class="clearfix"></div>

                        <form action="#" method="post">
                            <div class="form-row error">
                                <textarea name="comment" id="comment-body"></textarea>
                                <span>Ta wartość nie powinna być pusta.</span>
                            </div>
                            <button id="save-comment" class="submit btn-green">Dodaj</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>

                <div class="comment">
                    <img class="thumbnail" src="img/default-avatar.jpg" alt="">

                    <div class="body">
                        <div class="author">
                            Gedy Rivera
                            <div class="divider"></div>
                            <a href="#" class="delete">Usuń</a>
                        </div>
                        <div class="create-date">17/19/2013</div>

                        <div class="clearfix"></div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus autem hic nobis consequatur dolore reiciendis quaerat enim eligendi velit.</p>
                    </div>
                </div>

                <div class="comment">
                    <img class="thumbnail" src="img/default-avatar.jpg" alt="">

                    <div class="body">
                        <div class="author">
                            Jonno Riekwel
                            <div class="divider"></div>
                            <a href="#" class="delete">Usuń</a>
                        </div>
                        <div class="create-date">17/19/2013</div>

                        <div class="clearfix"></div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus autem hic nobis consequatur dolore reiciendis quaerat enim eligendi velit.</p>
                    </div>
                </div>

                <div class="comment">
                    <img class="thumbnail" src="img/default-avatar.jpg" alt="">

                    <div class="body">
                        <div class="author">
                            Rogie King
                            <div class="divider"></div>
                            <a href="#" class="delete">Usuń</a>
                        </div>
                        <div class="create-date">17/19/2013</div>

                        <div class="clearfix"></div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem possimus autem hic nobis consequatur dolore reiciendis quaerat enim eligendi velit.</p>
                    </div>
                </div>
            </section>

        </div> <!-- .left -->
    {% endblock %}